footer
    .footer__header
        .footer__header__phone
            .footer__header-icon
                img(src="/images/Iconos/phone.svg", alt="icono de teléfono fijo")
            .footer__header__phone-num 
                p 442 219-76-51 #[br]444 257-52-88
        .footer__header__cellphone
            .footer__header-icon 
                img(src="/images/Iconos/smartphone.svg", alt="ícono de un celular")
            .footer__header__cellphone-num 
                p 442 143-59-39
        .footer__header__email 
            .footer__header-icon
                img(src="/images/Iconos/email.svg", alt="ícono de un email")
            .footer__header__email-txt 
                p contacto@sitgam.mx
    .footer__body
        .footer__body-logo
            img(src="/images/logoBlanco.svg", alt="logotipo de SITGAM")
        .footer__body-links
            h2 Enlaces Directos
            ul 
                li
                    a(href="index.html") Inicio
                li
                    a(href="empresa.html") Empresa 
                li
                    a(href="") Movimiento de maquinaria 
                li
                    a(href="") Acometidas Eléctricas 
                li
                    a(href="") Acometidas Hidráulicas  
                li
                    a(href="") Pailería 
                li
                    a(href="") Pintura 
                li
                    a(href="") Contacto 
                li
                    a(href="") Aviso de Privacidad
        .footer__body-address 
            img(src="/images/Iconos/address.svg", alt="ícono de ubicación")
            p Ramiro de Maeztu 64, Colonia Los Molinos, Querétaro, Qro. MX 
        .footer__body-schedule
            h2 HORARIOS DE ATENCIÓN
            .footer__body-schedule-hours
                p Lunes a Viernes: 
                p 9:00am - 6:00 pm
                p Sábado: 
                p 9:00am - 2:00 pm
                p Domingo: 
                p Cerrado
        .footer__body-socialmedia
            .footer__body-socialmedia__icon
                h2 SÍGUENOS 
                img(src="/images/Iconos/facebook.svg", alt="Ícono de facebook")
            img(src="/images/logoBlanco.svg",alt="Logotipo de la empresa")#logoFooter
    .footer__foot 
        .rights
            p SITGAM CORPORATION 2022
script(src="/js/app-dist.js")