extend ../components/template.pug
block content
    .pintura
        .section__header
            .section__header-content
                img(src="/images/mhead-pintura.jpg", alt="Ingeniero con casco")
                p SERVICIOS DE #[br] #[strong PINTURA] #[br] #[span INDUSTRIAL]
        .pintura__objetivosh
            p Nuestros #[span #[br] Objetivos] 
            img(src="/images/Iconos/arrow__down-corange.svg", alt="")
            .pintura__objetivosh__box
                p PROTECCIÓN 
                span 
                p ESTÉTICA
        .pintura__proteccion
            img(src="/images/mpintura2.jpg", alt="técnico pintando").img-fluid
            .pintura__proteccion__box
                h2 PROTECCIÓN #[br] #[span CONTRA]
                ul
                    li: p Impactos
                    li: p Corrosión 
                    li: p Clima
        .pintura__seguridad 
            h2 La seguridad es lo primero
            p #[strong Protege los diferentes tipos de estructuras] de las agresiones a los que pueden ser sometidos.
        .pintura__limites
            img(src="/images/mi-6.jpg" alt="").img-fluid
            .pintura__limites__box
                p ESTABLECE #[strong LIMITES DE]
                h2 ÁREAS #[br] SEGURAS
        .pintura__objetivos-s
            p Nuestro servicio de pintura industrial tiene #[strong dos objetivos principales:] Por un lado, #[strong proteger los diferentes soportes] de las agresiones a las que puedan ser sometidos, tanto físicas (impactos) como químicas y ambientales (corrosión, climatología, etc), y la otra es encaminada a la #[strong parte estética o funcional dentro de la empresa] como rótulos, límites de áreas seguras dentro de planta, pasos peatonales y cualquier otra necesidad que tenga el cliente en la que involucre color.
        .pintura__pasos
            img(src="/images/mpintura3.jpg" alt="").img-fluid
            .pintura__pasos__box
                p Pasos #[br] Peatonales
        .btn-contactenos
            a(href="contacto.html") Contáctenos  
        



